@model Show

@{
    ViewData["Title"] = ViewBag.ShowTitle;
}
@{

}

<div style="color:whitesmoke">Posted:</div>
<br />
<div style="color:whitesmoke">@ViewBag.Type, @ViewBag.ShowTitle</div>
<br />
<div style="color:whitesmoke">Score: @ViewBag.Score</div>
<br />
<div style="color:whitesmoke">@ViewBag.Overview</div>