html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgba(40, 251, 197, 1);
    background-image: radial-gradient(circle, rgba(89, 131, 252, 1) 0%, rgba(0, 0, 0, 1) 84%), url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=600);
    background-size: auto;
    background-position: center center;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

tbody {
    background-color: transparent;
    display: block;
}

caption {
    caption-side: top;
    text-align: center;
    font-size: 50px;
    width:auto;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
}


